html{
    height: 100%;
}
body{
    font-size: 1.4em;
    padding: 0;
    margin: 0;
    height: 98%;
    background: rgb(40,40, 45);
    color: rgb(210, 210,210);
    font-family: Arial, Helvetica ,sans-serif;
}
h1{
    
}
h2{
    
}
p{
    
}
a{
    color: rgb(200, 200,200);
}
a:active{
    text-decoration: none;
}
a:hover{
    
}
a:visited{
    text-decoration: none;
}
#nav-bar{
    font-size: 1.6em;
    display: flex;
    border-bottom: 2px solid black;
    width: 100%;
    height: 1.1em;
    margin: 0;
}

.nav-bar-item{
    display: block;
    width: 20%;
    min-width: 210px;
    padding: 0.1%;
    text-align: center;
    text-decoration: none;
    margin-right: 1px;
    padding: 0 1px 1px 1px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
}
.nav-bar-item:hover{
    background: rgb(50,50,55);
}
.nar-bar-item:active{
    box-shadow: inset 0 0 10px #000000;
}
.filler{
    min-width: 0;
}
.filler:hover{
    background: rgb(40,40,45);
}
.filler:active{
    
}
#download{
    min-width: 265px;
}
.vertical-divider{
    width: 2px;
    height: 40px;
    background-color: rgb(200,200,200);
        
}
.horizontal-divider{
    width: 90%;
    height: 2px;
    align-self: auto;
    background-color: rgb(200,200,200);
}
.footer {
    font-size: 0.6em;
    height: 1.1em;
    position: fixed;
    top: calc(100% - 2em);
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.footer a {
  display: inline-block;
  position: relative;
}
.footer:before {
  content: "~~";
  font-size: 0.6em;
  font-weight: 700;
  font-family: Times New Roman, Serif;
  color: red;
  width: 100%;
  position: absolute;
  top: 11px;
  left: -85px;
  overflow: hidden;
}